<%= render 'shared/header', title: 'Think Green' %>
<section class="wrapper !bg-[#ffffff]">
  <div class="container pt-20 xl:pt-18 lg:pt-18 md:pt-18 pb-16 xl:pb-20 lg:pb-20 md:pb-20">
    <div class="flex flex-wrap mx-[-15px] xl:mx-[-35px] lg:mx-[-20px] mt-[-50px] items-center">
      <!-- Tekst sekcija -->
      <div class="w-full xl:w-12/12 lg:w-12/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full mt-[50px] !relative">
        <%= image_tag("svg/doodle1.svg", class: "h-9 !absolute xl:block lg:block", style: "top: -5%; left: -2%", alt: "doodle") %>
        <h2 class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] leading-[1.3] !mb-3">
A Business Cost We Can’t Ignore
        </h2>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">We pay fees everywhere. Banks, transactions, online payments, card processing – everything comes at a price. We pay taxes on food, electricity, water, and everything else we consume. There’s a cost to every single thing we do.</p>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">The only entity that doesn’t tax us is the planet itself. But we owe it everything.</p>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">This is no longer about trends or corporate image – it’s about responsibility. Every business, no matter its size or industry, has a duty to rethink its impact and actively contribute to a more sustainable way of working.</p>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">At MOO, we refuse to work with companies that actively pollute and damage the environment without a clear plan to reduce their carbon footprint. High carbon emissions with no accountability? That’s a hard no from us. Every business must be responsible for its impact, and those who refuse to acknowledge it won’t be part of our network.</p>
        <%= image_tag("svg/doodle4.svg", class: "h-8 !absolute xl:block lg:block !rounded-[.4rem]", style: "bottom: -3%; right: 1%", alt: "doodle") %>
      </div>
      <!-- /.row -->
    </div>
    <!--/column -->
  </div>
  <!--/.row -->
</div>
<!-- /.container -->
</section>

<section class="wrapper !bg-[#ffffff]">
  <div class="container pt-20 xl:pt-18 lg:pt-18 md:pt-18 pb-16 xl:pb-20 lg:pb-20 md:pb-20">
    <div class="flex flex-wrap mx-[-15px] xl:mx-[-35px] lg:mx-[-20px] mt-[-50px] items-center">
      <!-- Tekst sekcija -->
      <div class="w-full xl:w-12/12 lg:w-12/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full mt-[50px] !relative">
        <%= image_tag("svg/doodle1.svg", class: "h-9 !absolute xl:block lg:block", style: "top: -5%; left: -2%", alt: "doodle") %>
        <h2 class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] leading-[1.3] !mb-3">
Putting Money Where It Matters
        </h2>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">Talk is cheap. Companies love to say they ‘care’ about sustainability, but the real question is – what are they actually doing?</p>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">We’re making a commitment. A percentage of every transaction we process will be redirected to organisations focused on environmental protection. Whether it’s local initiatives, regional sustainability projects, or global efforts to tackle climate change, we want every deal we close to contribute to something bigger.</p>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">This isn’t about offsetting guilt. It’s about taking direct action and building a business model that considers the future, not just the bottom line.</p>
        <%= image_tag("svg/doodle4.svg", class: "h-8 !absolute xl:block lg:block !rounded-[.4rem]", style: "bottom: -3%; right: 1%", alt: "doodle") %>
      </div>
      <!-- /.row -->
    </div>
    <!--/column -->
  </div>
  <!--/.row -->
</div>
<!-- /.container -->
</section>

<section class="wrapper !bg-[#ffffff]">
  <div class="container pt-20 xl:pt-18 lg:pt-18 md:pt-18 pb-16 xl:pb-20 lg:pb-20 md:pb-20">
    <div class="flex flex-wrap mx-[-15px] xl:mx-[-35px] lg:mx-[-20px] mt-[-50px] items-center">
      <!-- Tekst sekcija -->
      <div class="w-full xl:w-12/12 lg:w-12/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full mt-[50px] !relative">
        <%= image_tag("svg/doodle1.svg", class: "h-9 !absolute xl:block lg:block", style: "top: -5%; left: -2%", alt: "doodle") %>
        <h2 class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] leading-[1.3] !mb-3">
Promoting Carbon Emission Tracking
        </h2>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">There’s an old saying: “What gets measured, gets managed.”</p>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">Businesses track profits, expenses, and employee performance. Yet, many still ignore their carbon footprint, treating it as someone else’s problem. That has to change.</p>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">We believe in carbon tracking as a standard business practice. Every company should know its impact and have a concrete plan to reduce it. We support projects and initiatives that enable businesses to monitor and cut emissions in a transparent, measurable way. Because accountability leads to progress.</p>
        <%= image_tag("svg/doodle4.svg", class: "h-8 !absolute xl:block lg:block !rounded-[.4rem]", style: "bottom: -3%; right: 1%", alt: "doodle") %>
      </div>
      <!-- /.row -->
    </div>
    <!--/column -->
  </div>
  <!--/.row -->
</div>
<!-- /.container -->
</section>

<section class="wrapper !bg-[#ffffff]">
  <div class="container pt-20 xl:pt-18 lg:pt-18 md:pt-18 pb-16 xl:pb-20 lg:pb-20 md:pb-20">
    <div class="flex flex-wrap mx-[-15px] xl:mx-[-35px] lg:mx-[-20px] mt-[-50px] items-center">
      <!-- Tekst sekcija -->
      <div class="w-full xl:w-12/12 lg:w-12/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full mt-[50px] !relative">
        <%= image_tag("svg/doodle1.svg", class: "h-9 !absolute xl:block lg:block", style: "top: -5%; left: -2%", alt: "doodle") %>
        <h2 class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] leading-[1.3] !mb-3">
A Collective Effort for a Greener Future
        </h2>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">This isn’t just about MOO. It’s about shifting the mindset across industries.</p>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">Companies that want to work with us need to be aware of their impact. If they aren’t making an effort to operate sustainably, they should at least be open to change. We don’t demand perfection – we expect responsibility.</p>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">If more businesses adopt this approach, the results will be undeniable. Lower emissions, better resource management, and a smarter, more responsible economy.</p>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">The future of business isn’t just about making deals – it’s about making a difference.</p>
        <%= image_tag("svg/doodle4.svg", class: "h-8 !absolute xl:block lg:block !rounded-[.4rem]", style: "bottom: -3%; right: 1%", alt: "doodle") %>
      </div>
      <!-- /.row -->
    </div>
    <!--/column -->
  </div>
  <!--/.row -->
</div>
<!-- /.container -->
</section>

<section class="wrapper !bg-[#ffffff]">
  <div class="container pt-20 xl:pt-18 lg:pt-18 md:pt-18 pb-16 xl:pb-20 lg:pb-20 md:pb-20">
    <div class="flex flex-wrap mx-[-15px] xl:mx-[-35px] lg:mx-[-20px] mt-[-50px] items-center">
      <!-- Tekst sekcija -->
      <div class="w-full xl:w-12/12 lg:w-12/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full mt-[50px] !relative">
        <%= image_tag("svg/doodle1.svg", class: "h-9 !absolute xl:block lg:block", style: "top: -5%; left: -2%", alt: "doodle") %>
        <h2 class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] leading-[1.3] !mb-3">
5 for the Future - A Simple Way to Give Back
        </h2>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">Every invoice we send to our clients will be reduced by 5% - but only if they commit to donating that same 5% to an environmental organisation of their choice.</p>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">This isn’t a one-time initiative. It applies to every transaction, every month, for as long as we work together. It’s a small step, but one that can make a real impact when businesses start to prioritise sustainability in their financial decisions.</p>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">We’re not just asking companies to talk about being greener - we’re giving them a reason to act.</p>
        <%= image_tag("svg/doodle4.svg", class: "h-8 !absolute xl:block lg:block !rounded-[.4rem]", style: "bottom: -3%; right: 1%", alt: "doodle") %>
      </div>
      <!-- /.row -->
    </div>
    <!--/column -->
  </div>
  <!--/.row -->
</div>
<!-- /.container -->
</section>